src/client/app/layout/main/sidenav/sidenav.html

<div class="left-sidenav">
  <md-sidenav layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
    <md-toolbar class="md-tall md-primary"></md-toolbar>
    <md-button ui-sref="main" ng-click="mainController.closeSidenav('left')" class="md-accent">Inicio</md-button>
    <md-button ui-sref="adoption.root.mainInfo" ng-click="mainController.closeSidenav('left')" class="md-accent">Registro</md-button>
    <md-button ui-sref="gallery.root.mainInfo" ng-click="mainController.closeSidenav('left')" class="md-accent">Buscador</md-button>
    <md-button ui-sref="upload" ng-click="mainController.closeSidenav('left')" class="md-accent">Imágenes</md-button>
  </md-sidenav>
</div>

src/client/app/layout/main/sidenav/sidenav.jade
.left-sidenav
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column", md-component-id="left")
    md-toolbar.md-tall.md-primary
    md-button.md-accent(ui-sref="main", ng-click="mainController.closeSidenav('left')")
      | Inicio
    md-button.md-accent(ui-sref="adoption.root.mainInfo", ng-click="mainController.closeSidenav('left')")
      | Registro
    md-button.md-accent(ui-sref="gallery.root.mainInfo", ng-click="mainController.closeSidenav('left')")
      | Buscador
    md-button.md-accent(ui-sref="upload", ng-click="mainController.closeSidenav('left')")
      | Imágenes
