src/client/app/features/upload/upload.jade
div(layout="column", layout-align="center center", layout-margin = "",
layout-fill ="", layout-padding="")
  .drop-box(ngf-drop="", ngf-select="", ng-model="uploadController.files",
  ngf-drag-over-class="dragover", ngf-multiple="true",
  ngf-allow-dir="true", accept="image/*", hide-sm = ""
  flex = "", ng-class='uploadController.dragover')
    | {{uploadController.labels.DRAG_DROP}}

  div(ngf-no-file-drop="", hide-sm = "") File Drag/Drop is not supported for this browser

  .upload-page
    md-button.md-fab(aria-label="Upload")
      ng-md-icon(icon="{{uploadController.iconUpload}}",
      size="28", options="{duration: 2000}", style="fill: white",
      ngf-select="", ngf-change="uploadController.upload($files)", ngf-multiple="multiple")

div.progressLinear(ng-repeat="file in uploadController.fileList", layout="column", layout-margin="", style="padding:25px;",
ng-show ="!file.finished")
  md-progress-linear.md-accent(md-mode="{{uploadController.mode}}", value="{{file.before}}",
  md-buffer-value="{{file.after}}")

div(layout="column", layout-align="center center", layout-margin = "",
layout-fill ="", layout-padding="")
  div(ng-repeat="file in uploadController.fileList", flex = "50")
    img(ngf-src="file", ng-show="file.type.indexOf('image') > -1 && file.uploadReady", ngf-accept="'image/*'", flex = "")

src/client/app/features/upload/upload.html

<div layout="column" layout-align="center center" layout-margin="" layout-fill="" layout-padding="">
  <div ngf-drop="" ngf-select="" ng-model="uploadController.files" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept="image/*" hide-sm="" flex="" ng-class="uploadController.dragover" class="drop-box">{{uploadController.labels.DRAG_DROP}}</div>
  <div ngf-no-file-drop="" hide-sm="">File Drag/Drop is not supported for this browser</div>
  <div class="upload-page">
    <md-button aria-label="Upload" class="md-fab">
      <ng-md-icon icon="{{uploadController.iconUpload}}" size="28" options="{duration: 2000}" style="fill: white" ngf-select="" ngf-change="uploadController.upload($files)" ngf-multiple="multiple"></ng-md-icon>
    </md-button>
  </div>
</div>
<div ng-repeat="file in uploadController.fileList" layout="column" layout-margin="" style="padding:25px;" ng-show="!file.finished" class="progressLinear">
  <md-progress-linear md-mode="{{uploadController.mode}}" value="{{file.before}}" md-buffer-value="{{file.after}}" class="md-accent"></md-progress-linear>
</div>
<div layout="column" layout-align="center center" layout-margin="" layout-fill="" layout-padding="">
  <div ng-repeat="file in uploadController.fileList" flex="50"><img ngf-src="file" ng-show="file.type.indexOf('image') &gt; -1 &amp;&amp; file.uploadReady" ngf-accept="'image/*'" flex=""/></div>
</div>
