src/client/app/layout/main/topbar/topbar.html

<div ng-controller="TopbarController as topbarController">
  <md-toolbar id="main-toolbar" layout="row" layout-align="space-between start">
    <button ng-click="mainController.toggleSidenav('left')" class="menu-btn"><span>
        <ng-md-icon icon="menu" size="22" options="{duration: 375}" style="fill: white"></ng-md-icon></span></button>
    <h1 class="md-toolbar-tools">{{topbarController.labels.HEADER}}</h1>
  </md-toolbar>
</div>

src/client/app/layout/main/topbar/topbar.jade
div(ng-controller="TopbarController as topbarController")
  md-toolbar#main-toolbar(layout="row", layout-align="space-between start")
    button.menu-btn(ng-click="mainController.toggleSidenav('left')")
      span
        ng-md-icon(icon="menu", size="22", options="{duration: 375}", style="fill: white")
    h1.md-toolbar-tools
      | {{topbarController.labels.HEADER}}
