src/client/app/layout/forms/adoption/steps/mainInfo.jade
div.adoptionIcon(layout="row", layout-sm="column", flex="")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.NAME}}
    md-icon.name(md-svg-icon="{{adoptionController.icons.FACE}}")
    input(type="text", ng-model="user.name")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.PRIMARY_LAST_NAME}}
    input(type="text", ng-model="user.primaryLastName")
  md-input-container.md-icon-float.adoptionInput
    // Use floating label instead of placeholder
    label {{adoptionController.labels.SECOND_LAST_NAME}}
    input(type="text", ng-model="user.secondLastName")
div.adoptionIcon(layout="row")
  md-input-container(md-no-float="", flex-sm="66")
    md-icon(md-svg-icon="{{adoptionController.icons.ID}}")
    input(type="text", ng-model="user.id", placeholder="{{adoptionController.labels.ID}}")
//div.adoptionIcon(layout="row")
  md-input-container(md-no-float="", flex-sm="66")
    // Use floating placeholder instead of label
    md-icon.email(md-svg-icon="")
    input(type="email", ng-model="user.email", placeholder="Email (required)", ng-required="true")
//md-input-container(md-no-float="")
  md-icon(md-svg-icon="images/svg/production/ic_perm_identity_24px.svg", style="display:inline-block;")
  input(type="text", ng-model="user.address", placeholder="Address")

src/client/app/layout/forms/adoption/steps/mainInfo.html

<div layout="row" layout-sm="column" flex="" class="adoptionIcon">
  <md-input-container class="md-icon-float adoptionInput">
    <!-- Use floating label instead of placeholder-->
    <label>{{adoptionController.labels.NAME}}</label>
    <md-icon md-svg-icon="{{adoptionController.icons.FACE}}" class="name"></md-icon>
    <input type="text" ng-model="user.name"/>
  </md-input-container>
  <md-input-container class="md-icon-float adoptionInput">
    <!-- Use floating label instead of placeholder-->
    <label>{{adoptionController.labels.PRIMARY_LAST_NAME}}</label>
    <input type="text" ng-model="user.primaryLastName"/>
  </md-input-container>
  <md-input-container class="md-icon-float adoptionInput">
    <!-- Use floating label instead of placeholder-->
    <label>{{adoptionController.labels.SECOND_LAST_NAME}}</label>
    <input type="text" ng-model="user.secondLastName"/>
  </md-input-container>
</div>
<div layout="row" class="adoptionIcon">
  <md-input-container md-no-float="" flex-sm="66">
    <md-icon md-svg-icon="{{adoptionController.icons.ID}}"></md-icon>
    <input type="text" ng-model="user.id" placeholder="{{adoptionController.labels.ID}}"/>
  </md-input-container>
</div>
<!--div.adoptionIcon(layout="row")
md-input-container(md-no-float="", flex-sm="66")
  // Use floating placeholder instead of label
  md-icon.email(md-svg-icon="")
  input(type="email", ng-model="user.email", placeholder="Email (required)", ng-required="true")
-->
<!--md-input-container(md-no-float="")
md-icon(md-svg-icon="images/svg/production/ic_perm_identity_24px.svg", style="display:inline-block;")
input(type="text", ng-model="user.address", placeholder="Address")
-->
