src/client/app/layout/forms/adoption/adoption.html

<div layout="column"><br/>
  <div layout="column">
    <div layout-padding="" flex="" class="adoption-form-container">
      <div layout-sm="column" layout-gt-sm="row">
        <div flex="25" hide-sm="">
          <div ui-view="leftInfo"></div>
        </div>
        <div flex="50">
          <div ui-view=""></div>
          <div>
            <lx-date-picker label="{{adoptionController.labels.DATE_BIRTH}}" locale="es" fixed-label="true" icon="cake-variant"></lx-date-picker>
          </div>
          <section layout="row" layout-sm="column" layout-align="end center">
            <md-button ng-disabled="vm.isCurrentFormCorrect()" sref="{{vm.nextStage}}" class="md-raised md-primary">Siguiente</md-button>
          </section>
        </div>
        <div flex="25" hide-sm="">
          <div ui-view="rightInfo"></div>
        </div>
      </div>
    </div>
  </div>
</div>

src/client/app/layout/forms/adoption/adoption.jade
div(layout="column")
  br
  div(layout="column")
    div.adoption-form-container(layout-padding="", flex="")
      div(layout-sm="column", layout-gt-sm="row")
        div(flex="25", hide-sm="")
          div(ui-view="leftInfo")
        div(flex="50")
          div(ui-view="")
          div()
            lx-date-picker(label="{{adoptionController.labels.DATE_BIRTH}}", locale="es", fixed-label="true", icon="cake-variant")

          section(layout="row", layout-sm="column", layout-align="end center")
            md-button.md-raised.md-primary(ng-disabled="vm.isCurrentFormCorrect()", sref="{{vm.nextStage}}") Siguiente
        div(flex="25", hide-sm="")
          div(ui-view="rightInfo")
